header {
  padding: 40px 20px;
  text-align: center;
  background-color: var(--color-dark);
}

header h1 {
  font-size: 48px;
  font-weight: bold;
  color: var(--color-light);
}

header p {
  margin-top: 1em;
  font-size: 20px;
  color: var(--color-light);
}

header p a {
  text-decoration: underline;
  transition: color 200ms ease-in-out;
}

header p a:hover:not(:active) {
  color: var(--color-secondary);
}

main {
  display: grid;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

main h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-dark);
}

footer {
  padding: 20px;
  text-align: center;
  background-color: var(--color-secondary);
}

footer h6 {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-dark);
}

.Demo {
}

.Typography {
  display: grid;
  gap: 10px;
  margin: 0 auto;
  max-width: 1080px;
}

.Typography p {
  font-size: 16px;
  line-height: 1.2;
  color: var(--var-dark);

  @media screen and (min-width: 640px) {
    font-size: 20px;
  }
}
